<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-s
    RewriteCond %{REQUEST_URI} !.*/api/? [NC]
    RewriteRule ^(.*)$ index.php [QSA,NC,L]

</IfModule>